@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

@keyframes boom {
  100% {
    transform: scale(1.1);
    z-index: 2;
  }
}
.boom:hover {
  animation: boom 1s ease forwards;
}

header {
  position: sticky;
  top: 0;
  opacity: 0.9;
  width: 100%;
  background-color: #fff;
  margin: auto;
  min-width: 1200px;
  z-index: 100;
}
header .header1 {
  width: 1200px;
  margin: auto;
  height: 120px;
  display: flex;
  justify-content: space-between;
}
header .header1 div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header1 div img {
  width: 120px;
  height: 44px;
}
header .header1 div ul {
  overflow: hidden;
}
header .header1 div ul li {
  padding: 10px 10px;
  height: 30px;
  font-size: 18px;
  color: #000000;
  display: inline-block;
  text-align: center;
  padding: 0;
  margin-left: 20px;
}
header .header1 div ul li:hover {
  color: orange;
}
header .header1 div ul li a div {
  width: 30px;
  height: 15px;
  margin-top: 15px;
  margin-right: 10px;
  background-image: url("../images/more.png");
}
header .header1 div ul .liang {
  color: orange;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    min-width: 10vw !important;
    height: 100%;
    max-height: 100vw !important;
  }
  .header1 {
    width: 375px !important;
    min-width: 10vw !important;
    height: 100%;
    max-height: 100vw !important;
  }
  .nav > ul {
    flex-direction: column;
    height: 0;
  }
}
footer {
  background-color: black;
  max-width: 1920px;
  min-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
footer .footer-box {
  width: 1200px;
  height: 390px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
footer .footer-box .jrwm {
  width: 400px;
  height: 370px;
  color: white;
  position: relative;
}
footer .footer-box .jrwm .jrwm-top {
  display: flex;
  display: nowrap;
  align-items: center;
  position: relative;
  margin: 80px 30px;
  font-size: 14px;
  cursor: pointer;
}
footer .footer-box .jrwm .jrwm-top div::after {
  content: "";
  width: 30px;
  position: absolute;
  top: 75px;
  left: 10px;
  border: 1px solid #fff;
  opacity: 0.2;
}
footer .footer-box .jrwm .jrwm-top div {
  width: 60px;
  height: 15px;
  margin: 10px;
  font-size: 14px;
  text-align: center;
}
footer .footer-box .jrwm .jrwm-top div:nth-of-type(2)::before {
  content: "";
  position: absolute;
  height: 30px;
  top: 5px;
  left: 80px;
  border: 1px solid #fff;
  opacity: 0.2;
}
footer .footer-box .jrwm .jrwm-top div:nth-of-type(2)::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 0px;
  top: 5px;
  left: 160px;
  border: 1px solid #fff;
  opacity: 0.2;
}
footer .footer-box .jrwm .jrwm-bottom {
  margin-top: 90px;
  margin-left: 40px;
  cursor: pointer;
}
footer .footer-box .lxfs {
  width: 400px;
  height: 290px;
  margin-top: 100px;
}
footer .footer-box .lxfs p {
  width: 315px;
  color: white;
}
footer .footer-box .lxfs p:nth-of-type(2) {
  margin-top: 30px;
}
footer .footer-box .lxfs p:nth-of-type(2),
footer .footer-box .lxfs p:nth-of-type(3),
footer .footer-box .lxfs p:nth-of-type(4),
footer .footer-box .lxfs p:nth-of-type(5) {
  font-size: 12px;
  color: #fefefe;
  line-height: 24px;
  opacity: 0.9;
  white-space: pre-wrap;
}
footer .footer-box .lxfs p:last-of-type {
  text-align: center;
  margin-top: 80px;
  height: 10px;
  font-size: 10px;
  line-height: 18px;
  color: #fefefe;
}
footer .footer-box .lxfs::before {
  content: "";
  height: 100px;
  position: absolute;
  top: 110px;
  left: 340px;
  border: 1px solid #fff;
  opacity: 0.2;
}
footer .footer-box .lxfs::after {
  content: "";
  height: 100px;
  position: absolute;
  top: 110px;
  left: 800px;
  border: 1px solid #fff;
  opacity: 0.2;
}
footer .footer-box .ewm {
  width: 400px;
  text-align: right;
  height: 370px;
  margin-right: 20px;
}
footer .footer-box .ewm img {
  width: 81px;
  height: 81px;
  margin-top: 100px;
}
footer .footer-box .ewm p {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

nav .pic {
  position: relative;
  max-width: 1920px;
  max-height: 800px;
  width: 100%;
  height: 800px;
  background: url("../images/BANNER1.png") no-repeat center/cover;
}

.gywm {
  width: 1200px;
  height: 450px;
  margin: auto;
}
.gywm p:first-of-type {
  margin: 80px auto 5px;
  text-align: center;
  font-size: 35px;
  height: 44px;
  color: #000;
}
.gywm p:nth-of-type(2) {
  text-align: center;
  opacity: 0.8;
}
.gywm .gywm-bottom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gywm .gywm-bottom img {
  width: 585px;
}
.gywm .gywm-bottom p {
  margin: auto;
  width: 585px;
  font-size: 14px;
  text-indent: 2em;
  text-align: left;
  opacity: 1.2;
}

.dt {
  width: 100%;
  max-height: 1920px;
  min-width: 1200px;
  height: 300px;
  background-image: url("../images/BG 拷贝.png");
}
.dt div {
  width: 1200px;
  height: 200px;
  margin: auto;
}
.dt div .dt-content {
  padding-top: 100px;
  margin: auto 25%;
  width: 400px;
  height: auto;
}
.dt div .dt-content p:first-of-type {
  width: 400px;
  height: 16px;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}
.dt div .dt-content p:nth-of-type(2) {
  margin-top: 20px;
  width: 400px;
  height: 14px;
  font-size: 14px;
  line-height: 23px;
  color: #000000;
}
.dt div .dt-content select {
  margin-top: 30px;
  margin-left: 20px;
  width: 100px;
  height: 40px;
  border: 0;
}
.dt div .dt-content select:first-of-type {
  margin-left: 0;
}
.dt div .dt-content button {
  margin-top: 30px;
  margin-left: 20px;
  width: 100px;
  height: 40px;
  border: 0;
  background-color: #f9a474;
  color: #fff;
  cursor: pointer;
}

.jyln {
  width: 100;
  min-width: 1200px;
  max-width: 1920px;
  height: 800px;
  margin: auto;
  background-image: url("../images/图层 32 拷贝.png");
}
.jyln .w1200 {
  width: 1200px;
  margin: auto;
  height: 800px;
  position: relative;
}
.jyln .w1200 p:first-of-type {
  color: white;
  margin: auto;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
}
.jyln .w1200 p:last-of-type {
  color: white;
  margin: auto;
  margin-top: 5px;
  width: 200px;
  height: 20px;
  text-align: center;
}
.jyln .w1200 .hx::after {
  content: "";
  border: 1px solid #fff;
  opacity: 0.1;
  position: absolute;
  width: 80px;
  left: 50%;
  transform: translate(-50%);
  top: 150px;
}
.jyln .w1200 .jyln-acticle {
  position: absolute;
  left: 0;
}
.jyln .w1200 .jyln-acticle p:first-of-type {
  margin: auto;
  margin-bottom: 20px;
  width: 234px;
  height: 17px;
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  color: #f9a474;
}
.jyln .w1200 .jyln-acticle p:nth-of-type(2),
.jyln .w1200 .jyln-acticle p:nth-of-type(3),
.jyln .w1200 .jyln-acticle p:nth-of-type(4),
.jyln .w1200 .jyln-acticle p:nth-of-type(5) {
  width: 411px;
  height: auto;
  font-size: 14px;
  line-height: 23px;
  text-align: left;
  text-indent: 2em;
  color: #dbdbdb;
  opacity: 0.6;
}

.zlsc {
  width: 1200px;
  height: 800px;
  margin: auto;
}
.zlsc p:first-of-type {
  color: #000;
  margin: auto;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
}
.zlsc p:last-of-type {
  color: #000;
  margin: auto;
  margin-top: 5px;
  width: 200px;
  height: 20px;
  text-align: center;
}
.zlsc div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zlsc div .zlsc-box {
  width: 600px;
  height: 560px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.zlsc div .zlsc-box img {
  width: 380px;
  height: 400px;
  margin: auto;
}
.zlsc div .zlsc-box p:first-of-type {
  padding-top: 30px;
  width: 600px;
  height: 17px;
  font-size: 16px;
  line-height: 23px;
  color: #f9a474;
}
.zlsc div .zlsc-box p:nth-of-type(2) {
  width: 585px;
  height: 83px;
  text-align: left;
  text-indent: 2em;
  font-size: 14px;
  line-height: 23px;
  color: #999999;
}

/*# sourceMappingURL=gywm.css.map */
